{% extends "base.html" %}

{% block title %}Desarrollador - GTA Online Economy{% endblock %}

{% block content %}
    <h2>Información del Desarrollador</h2>
    <div class="info-section">
        <h3>Jhon Alexander Parra Olarte (67001168)</h3>
        <p>Este proyecto fue desarrollado como parte de un Proyecto Integrador para explorar la influencia de las microtransacciones en la economía virtual de GTA Online (GTA V).</p>
        <p><strong>Contacto:</strong> 3008271263</p>
        <p>
            <a href="https://github.com/Jhon042x" class="button secondary" target="_blank">GitHub</a>
        </p>
    </div>
{% endblock %}